
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Beeftea</title>
<style type="text/css">
body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;margin:0 !important; padding:0 !important;}
table td { border-collapse: collapse;} 
table table {max-width:640px;}
img {outline:0;}
a img {border:none;}
@-ms-viewport{ width: device-width;}
body {
	background-color: #ffffff;
	-webkit-text-size-adjust: none !important; 
	-ms-text-size-adjust: none !important;
}
@media screen and (max-width: 599px) {
	*[class=resize300] {width:300px!important;}
	*[class=mobile] {width:10px;!important;}
	*[class=nomob] {display:none!important;}
	*[class=font11]{font-size:11px!important;}
	*[class=font12]{font-size:12px!important;}
	*[class=font13]{font-size:13px!important;}
	*[class=font13]{font-size:13px!important;}
	*[class=font14]{font-size:14px!important;}
	*[class=font16]{font-size:16px!important;}
	*[class=font17]{font-size:17px!important;}
	*[class=font26]{font-size:26px!important;}
	*[class=width32] {width:32px!important;}
	td[class=center] {text-align:center!important;}
	td[class=emailcolsplit300] {
		width: 300px!important;
		float: left!important;
	}
	td[class=claim] {
		background-image:url(img/teaser_300.jpg);
		height:70px;
	}
	img{max-width:300px;}
}
</style>
<meta name="viewport" content="width=340" />
</head>
<body style="background-color:#464646;margin:0;padding:0;width:100%">
	<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td class="resize300">
				<table bgcolor='ffffff'align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
					<tr>						
						<td align="center" valign="top" class="resize300">			
							<table width="640" class="resize300" border="0" align="center" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>	
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30' style='font-family:arial;font-size:11px;color:#333333;'>
													<a target='_blank' style='color:#333333;' href="###">Online-Version</a>
													<a target='_blank'  href='https://twitter.com/beefteagroup'><img src='img/twitter.png' border='0' align='right' width='17' height='17'></a>
													<img src='img/blank.gif' border='0' align='right' width='5'>
													<a target='_blank'  href='https://plus.google.com/112346036968033683028/posts'><img src='img/gplus.png' border='0' align='right' width='17' height='17'></a>
													<img src='img/blank.gif' border='0' align='right' width='5'>
													<a target='_blank'  href='https://www.youtube.com/user/beefteatv'><img src='img/youtube.png' border='0' align='right' width='17' height='17'></a>
													<img src='img/blank.gif' border='0' align='right' width='5'>
													<a target='_blank' href='https://www.facebook.com/BEEFTEA-GROUP-people-brand-communications-GmbH-132860193942/timeline/'><img src='img/fb.png' border='0' align='right' width='17' height='17'></a>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>	
												<td align="center" height='65'>
													<a target='_blank'  href='http://beeftea.de/'><img src='img/logo.png' width='172' height='44' border='0'></a>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td class='emailcolsplit300' width='320'>
													<table bgcolor="ff5041" width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td width='20' height='30' bgcolor="ff5041" class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
															<td width='200' height='30' bgcolor="ff5041" align='center'>
																<a target='_blank' href='http://beeftea.de/' style='color:#ffffff;text-decoration:none;font-family:arial;font-size:12px;'>HOME</a>
															</td>
															<td width='200' height='30' bgcolor="ff5041" align='center'>
																<a target='_blank' href='http://beeftea.de/beeftea-group-vier-units-fur-eine-gemeinsame-sache/' style='color:#ffffff;text-decoration:none;font-family:arial;font-size:12px;'>UNITS</a>
															</td>
															<td width='200' height='30' bgcolor="ff5041" align='center'>
																<a target='_blank' href='http://beeftea.de/leistungen/' style='color:#ffffff;text-decoration:none;font-family:arial;font-size:12px;'>LEISTUNGEN</a>
															</td>
														</tr>
													</table>
												</td>
												<td class='emailcolsplit300' width='320'>
													<table bgcolor="ff5041" width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>															
															<td width='200' height='30' bgcolor="ff5041" align='center'>
																<a target='_blank' href='http://beeftea.de/jobs/' style='color:#ffffff;text-decoration:none;font-family:arial;font-size:12px;'>JOBS</a>
															</td>
															<td width='200' height='30' bgcolor="ff5041" align='center'>
																<a target='_blank' href='http://beeftea.de/meeting/' style='color:#ffffff;text-decoration:none;font-family:arial;font-size:12px;'>KALENDER</a>
															</td>
															<td width='200' height='30' bgcolor="ff5041" align='center'>
																<a target='_blank' href='http://beeftea.de/kontakt/' style='color:#ffffff;text-decoration:none;font-family:arial;font-size:12px;'>KONTAKT</a>
															</td>
															<td width='20' height='30' bgcolor="ff5041" class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="600" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td>
													<table bgcolor="ffffff" width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>															
															<td>
																<table bgcolor="ffffff" width='100%' border="0" cellpadding="0" cellspacing="0">
																	<tr>
																		<td class='claim'>
																			<a target='_blank' href='http://beeftea.de/'><img src='img/teaser.jpg' border='0' width='640' height='150' class='nomob' alt=''></a>
																		</td>
																	</tr>
																</table>
															</td>
														</tr>
														<tr>
															<td height='20'>
																<img border='0' style='display:block' src='img/blank.gif' height='20' width='1'>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>	
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30' align='right' style='font-family:arial;font-size:17px;color:#333333;' class='font17'>
													trend<span style='color:#ff5041;'>flash</span> 09/13
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>	
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30' style='font-family:arial;font-size:14px;color:#333333;' class='font14'>
													<span style='font-size:16px;' class='font16'>Hallo Grunszky,</span><br><br>
													Us ineo, vel loquor, hic sed, Viva tam. Ico explorator mos, Expello hinc hac talio,<br>
													mensa plures utor to tutamen eia Extundo sentus ita Novus.
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='1' bgcolor='c3c3c5' style="font-size:0;line-height:0;">
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td class='emailcolsplit300' width='320'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td width='20' height='1' class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
															<td style='font-family:arial;font-size:14px;color:#333333;' class='font14'>
																<a href="http://beeftea.de/24-coca-cola-tag-mit-beeftea-live-gmbh/#more-2848" target="_blank" style="font-size: 12px; line-height: 22px; font-family:Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; background-color: #ff5041;display:inline-block; outline:none; text-decoration:none;" class="msoZero">&nbsp;#HOTSPOT&nbsp;</a>
																<br><br>
																<span style='font-size:16px;color:#ff5041;' class='font16'>Coca-Cola Tag mit BEEFTEA live GmbH</span><br><br>
																BAm 21. Juni lud Coca-Cola seine Kunden und Mitarbeiter zum 24. Coca-Cola Tag in den Europa-Park Rust ein. 9.000 Gäste erlebten einen ereignisreichen Tag in Deutschlands größtem Freizeitpark.Bereits um 08:00 Uhr und somit exklusiv für die …<a target='_blank' href='http://beeftea.de/24-coca-cola-tag-mit-beeftea-live-gmbh/#more-2848' style='color:#333333;'>weiterlesen</a><br><br>
															</td>
														</tr>
													</table>
												</td>
												<td class='emailcolsplit300' width='320'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>														
															<td align='right' class='center' valign='top'>
																<a target='_blank' href='http://beeftea.de/24-coca-cola-tag-mit-beeftea-live-gmbh/#more-2848'><img src='img/cocacola.jpg' border='0' width='280' height='200' alt=''></a>
															</td>
															<td width='20' height='30' class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='1' bgcolor='c3c3c5' style="font-size:0;line-height:0;">
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td class='emailcolsplit300' width='320'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td width='20' height='1' class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
															<td style='font-family:arial;font-size:14px;color:#333333;' class='font14'>
																<a href="http://ow.ly/3yaq9H" target="_blank" style="font-size: 12px; line-height: 22px; font-family:Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; background-color: #ff5041;display:inline-block; outline:none; text-decoration:none;" class="msoZero">&nbsp;#EXTERN&nbsp;</a>
																<br><br>
																<span style='font-size:16px;color:#ff5041;' class='font16'>Katjes geht in die Zukunft: Fruchtgummis aus dem 3D-Drucker</span><br><br>
																Unser "süsser" Location Tipp der Woche für Berlin: Die Magic Candy Factory in Berlin Mitte.<br>
																Gestalten Sie Ihre Weingummis am ersten und einzigen 3D Drucker in Deutschland. Essen dürfen Sie die Süßigkeiten auch. Na dann Guten Appetit! <a target='_blank' href='http://ow.ly/3yaq9H' style='color:#333333;'>http://ow.ly/3yaq9H</a><br><br>
															</td>
														</tr>
													</table>
												</td>
												<td class='emailcolsplit300' width='320'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>														
															<td align='right' class='center' valign='top'>
																<a target='_blank' href='http://ow.ly/3yaq9H'><img src='img/3ddrucker.jpg' border='0' width='280' height='200' alt=''></a>
															</td>
															<td width='20' height='30' class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='1' bgcolor='c3c3c5' style="font-size:0;line-height:0;">
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td class='emailcolsplit300' width='320'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>
															<td width='20' height='1' class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
															<td style='font-family:arial;font-size:14px;color:#333333;' class='font14'>
																<a href="http://beeftea.de/kompetenztagen-der-tw-tagungswirtschaft-mit-beeftea/#more-2762" target="_blank" style="font-size: 12px; line-height: 22px; font-family:Arial, Helvetica, sans-serif; color: #ffffff; text-decoration: none; background-color: #ff5041;display:inline-block; outline:none; text-decoration:none;" class="msoZero">&nbsp;#INSIDE&nbsp;</a>
																<br><br>
																<span style='font-size:16px;color:#ff5041;' class='font16'>Kompetenztage der tw tagungswirtschaft mit BEEFTEA</span><br><br>
																Unter diesem Thema stand der Vortrag unseres Geschäftsführers Andreas Grunszky bei den„Kompetenztagen der tw tagungswirtschaft und tp tagungsplaner.de in München.Diese Veranstaltung beleuchtete  ...<br>
																<a target='_blank' href='http://beeftea.de/kompetenztagen-der-tw-tagungswirtschaft-mit-beeftea/#more-2762' style='color:#333333;'>weiterlesen</a><br><br>
															</td>
														</tr>
													</table>
												</td>
												<td class='emailcolsplit300' width='320'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0">
														<tr>														
															<td align='right' class='center' valign='top'>
																<a target='_blank' href='http://beeftea.de/kompetenztagen-der-tw-tagungswirtschaft-mit-beeftea/#more-2762'><img src='img/kompetenztage.jpg' border='0' width='280' height='200' alt=''></a>
															</td>
															<td width='20' height='30' class='nomob'>
																<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='1' bgcolor='c3c3c5' style="font-size:0;line-height:0;">
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
											<tr>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
												<td height='30'>
													<img border='0' style='display:block' src='img/blank.gif' height='30' width='1'>
												</td>
												<td width='20' class='nomob'>
													<img border='0' style='display:block' src='img/blank.gif' height='1' width='20'>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>	
												<td align="center" style='font-family:arial;font-size:14px;color:#333333;' class='font14'>
													<span style='font-size:16px;color:#ff5041;'>&copy; 2014 BEEFTEA group</span><br>
													people & brand communications GmbH<br><br>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td class='emailcolsplit300' width='310'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0" class='font14'>
														<tr>
															<td align='right' style='font-family:arial;font-size:14px;color:#333333;' class='center'>
																Kreuzbergstraße 30 | D-10965 Berlin<br>
																T 030 26 93 92-3 | F 030 26 93 92-40<br>
																<a href='mailto:berlin@beeftea.de' style='color:#333333'>berlin@beeftea.de</a> | <a target='_blank' href='http://www.beeftea.de' style='color:#333333'>www.beeftea.de</a><br><br>
															</td>
														</tr>
													</table>
												</td>
												<td class='nomob' width='20'></td>
												<td class='emailcolsplit300' width='310'>
													<table width='100%' border="0" cellpadding="0" cellspacing="0" class='font14'>
														<tr>														
															<td style='font-family:arial;font-size:14px;color:#333333;' class='center'>
																Lehmweg 10C | D-20251 Hamburg<br>
																T 040 32 89 01 56-1 | F 030 26 93 92-40<br>
																<a href='mailto:berlin@beeftea.de' style='color:#333333'>berlin@beeftea.de</a> | <a target='_blank' href='http://www.beeftea.de' style='color:#333333'>www.beeftea.de</a><br><br>
															</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table width="640" border="0" class="resize300" align="center" cellpadding="0" cellspacing="0">
											<tr>	
												<td align="center" style='font-family:arial;font-size:11px;color:#87878c;' class='font11'>
													<br>
													Wenn Sie unseren Newsletter nicht mehr erhalten möchten, melden Sie sich bitte <a href='###' target='_blank' style='color:#87878c;'>hier ab.
												</td>
											</tr>
										</table>
									</td>	
								</tr>
							</table>			
						</td>
					</tr>	
					<tr>
						<td><img border='0' src='img/blank.gif' height='25' width='1'></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>