<!DOCTYPE html>
<html>
<head>
  <title>Beeftea Newletter</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <style type="text/css">
    body {
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust:     100%;
      margin:                   0 !important;
      padding:                  0 !important;
    }

    table td {
      border-collapse: collapse;
    }

    table table {
      max-width: 640px;
    }

    img {
      outline: 0;
    }

    a img {
      border: none;
    }

    @-ms-viewport {
      width: device-width;
    }

    body {
      background-color:         #ffffff;
      -webkit-text-size-adjust: none !important;
      -ms-text-size-adjust:     none !important;
    }

    @media screen and (max-width: 599px) {
      *[class=resize300] {
        width: 300px !important;
      }

      *[class=mobile] {
        width: 10px;
      !important;
      }

      *[class=nomob] {
        display: none !important;
      }

      *[class=font11] {
        font-size: 11px !important;
      }

      *[class=font12] {
        font-size: 12px !important;
      }

      *[class=font13] {
        font-size: 13px !important;
      }

      *[class=font13] {
        font-size: 13px !important;
      }

      *[class=font14] {
        font-size: 14px !important;
      }

      *[class=font16] {
        font-size: 16px !important;
      }

      *[class=font17] {
        font-size: 17px !important;
      }

      *[class=font26] {
        font-size: 26px !important;
      }

      *[class=width32] {
        width: 32px !important;
      }

      td[class=center] {
        text-align: center !important;
      }

      td[class=emailcolsplit300] {
        width: 300px !important;
        float: left !important;
      }

      td[class=claim] {
        background-image: url(img/teaser_300.jpg);
        height:           70px;
      }

      img {
        max-width: 300px;
      }
    }    </style>
  <meta content="width=340" name="viewport"/>
</head>
<body
    style="width: 100%; padding-bottom: 0px; padding-top: 0px; padding-left: 0px; margin: 0px; padding-right: 0px; background-color: #000000">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>
  <tr>
    <td class="resize300">
      <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
          <td align="center" class="resize300" valign="top">
            <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
              <tbody>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30" style="font-size: 11px; font-family: arial; color: #333333">
                        <a href="###" style="color: #333333" target="_blank">Online-Version</a> <a
                          href="https://twitter.com/beefteagroup" target="_blank"><img align="right" border="0"
                                                                                       height="17" src="img/twitter.png"
                                                                                       width="17"/></a> <img
                          align="right" border="0" src="img/blank.gif" width="5"/> <a
                          href="https://plus.google.com/112346036968033683028/posts" target="_blank"><img align="right"
                                                                                                          border="0"
                                                                                                          height="17"
                                                                                                          src="img/gplus.png"
                                                                                                          width="17"/></a>
                        <img align="right" border="0" src="img/blank.gif" width="5"/> <a
                          href="https://www.youtube.com/user/beefteatv" target="_blank"><img align="right" border="0"
                                                                                             height="17"
                                                                                             src="img/youtube.png"
                                                                                             width="17"/></a> <img
                          align="right" border="0" src="img/blank.gif" width="5"/> <a
                          href="https://www.facebook.com/BEEFTEA-GROUP-people-brand-communications-GmbH-132860193942/timeline/"
                          target="_blank"><img align="right" border="0" height="17" src="img/fb.png" width="17"/></a>
                      </td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td align="center" height="65">
                        <a href="http://beeftea.de/" target="_blank"><img border="0" height="44" src="img/logo.png"
                                                                          width="172"/></a></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="emailcolsplit300">
                        <table bgcolor="#ff5041" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td bgcolor="#ffffff" class="nomob" height="30" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                            <td align="center" bgcolor="#ff5041" height="30" width="150">
                              <a href="[[spmLink2]]"
                                 style="font-size: 12px; text-decoration: none; font-family: arial; color: #ffffff"
                                 target="_blank">WEBSEITE</a></td>
                            <td align="center" bgcolor="#ff5041" height="30" width="150">
                              <a href="http://beeftea.de/leistungen/"
                                 style="font-size: 12px; text-decoration: none; font-family: arial; color: #ffffff"
                                 target="_blank">LEISTUNGEN</a></td>
                            <td align="center" bgcolor="#ff5041" height="30" width="150">
                              <a href="###"
                                 style="font-size: 12px; text-decoration: none; font-family: arial; color: #ffffff"
                                 target="_blank">REFERENZEN</a></td>
                            <td align="center" bgcolor="#ff5041" height="30" width="150">
                              <a href="http://beeftea.de/kontakt/"
                                 style="font-size: 12px; text-decoration: none; font-family: arial; color: #ffffff"
                                 target="_blank">KONTAKT</a></td>
                            <td bgcolor="#ffffff" class="nomob" height="30" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="600">
                    <tbody>
                    <tr>
                      <td>
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td>
                              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                  <td class="claim">
                                    <a href="http://beeftea.de/" target="_blank"><img alt="" border="0" class="nomob"
                                                                                      height="150" src="img/teaser.jpg"
                                                                                      width="640"/></a></td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="20">
                              <img border="0" height="20" src="img/blank.gif" style="display: block" width="1"/></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td align="right" class="font17" height="30"
                          style="font-size: 17px; font-family: arial; color: #333333">
                        trend<span style="color: #ff5041">flash</span> 05/16
                      </td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td class="font14" height="30" style="font-size: 14px; font-family: arial; color: #333333">
                        <span class="font16" style="font-size: 16px">Hallo personen.Nachname.&nbsp;,</span><br/>
                        <br/>
                        Us ineo, vel loquor, hic sed, Viva tam. Ico explorator mos, Expello hinc hac talio,<br/>
                        mensa plures utor to tutamen eia Extundo sentus ita Novus.
                      </td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td bgcolor="#c3c3c5" height="1" style="font-size: 0px; line-height: 0">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="emailcolsplit300" width="320">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td class="nomob" height="1" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                            <td class="font14" style="font-size: 14px; font-family: arial; color: #333333">
                              <p>
                                <a class="msoZero"
                                   href="http://beeftea.de/24-coca-cola-tag-mit-beeftea-live-gmbh/#more-2848"
                                   style="font-size: 12px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #ffffff; outline-width: medium; outline-style: none; display: inline-block; outline-color: invert; line-height: 22px; background-color: #ff5041"
                                   target="_blank">&nbsp;#HOTSPOT&nbsp;</a><br/>
                                <br/>
                                <span class="font16" style="font-size: 16px; color: #ff5041">BEEFTEA macht F&uuml;hrungskr&auml;fte fit f&uuml;r die Zukunft</span><br/>
                                <br/>
                                Berlin, 7. April 2016:</p>
                              <p>
                                <br/>
                                Unter dem Motto &bdquo;Connecting the dots&ldquo; f&uuml;hrte die Event- und Online
                                Agentur BEEFTEA eine 2 t&auml;gige F&uuml;hrungskr&auml;ftetagung mit 650 Teilnehmern
                                durch.<br/>
                                Bereits Steve Jobs von Apple wusste um das Erfolgsgeheimnis dieser Management
                                Technik: &bdquo;Connecting the dots is one helpful tool to figure out how one can
                                unleash one&rsquo;s potential&ldquo;. &hellip;<a href="[[spmLink3]]"
                                                                                 style="color: #333333" target="_blank">weiterlesen</a><br/>
                                &nbsp;</p>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="emailcolsplit300" width="320">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td align="right" class="center" valign="top">
                              <a href="http://beeftea.de/24-coca-cola-tag-mit-beeftea-live-gmbh/#more-2848"
                                 target="_blank"><img alt="" border="0" height="200" src="img/cocacola.jpg"
                                                      width="280"/></a></td>
                            <td class="nomob" height="30" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td bgcolor="#c3c3c5" height="1" style="font-size: 0px; line-height: 0">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="emailcolsplit300" width="320">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td class="nomob" height="1" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                            <td class="font14" style="font-size: 14px; font-family: arial; color: #333333">
                              <p>
                                <a class="msoZero" href="[[spmLink4]]"
                                   style="font-size: 12px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #ffffff; outline-width: medium; outline-style: none; display: inline-block; outline-color: invert; line-height: 22px; background-color: #ff5041"
                                   target="_blank">&nbsp;#EXTERN&nbsp;</a><br/>
                                <br/>
                                <span class="font16"
                                      style="font-size: 16px; color: #ff5041">3. Frauenforum-FOODSERVICE &ndash; mit BEEFTEA ein voller Erfolg</span><br/>
                                <br/>
                                Am 21. April traf sich die geballte Frauenpower der Food-Branche in Frankfurt am Main.
                                Innovative Startups und aufstrebende Frauen trafen auf Top-Managerinnen und
                                Unternehmerinnen aus der Ern&auml;hrung-und Gastrobranche. erfolgreichen weiblichen F&uuml;hrungskr&auml;ften.<br/>
                                Und BEEFTEA war von Anfang an dabei.</p>
                              <p>
                                <br/>
                                &nbsp;</p>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="emailcolsplit300" width="320">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td align="right" class="center" valign="top">
                              <a href="http://ow.ly/3yaq9H" target="_blank"><img alt="" border="0" height="200"
                                                                                 src="img/3ddrucker.jpg"
                                                                                 width="280"/></a></td>
                            <td class="nomob" height="30" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td bgcolor="#c3c3c5" height="1" style="font-size: 0px; line-height: 0">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="emailcolsplit300" width="320">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td class="nomob" height="1" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                            <td class="font14" style="font-size: 14px; font-family: arial; color: #333333">
                              <a class="msoZero" href="[[spmLink5]]"
                                 style="font-size: 12px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; color: #ffffff; outline-width: medium; outline-style: none; display: inline-block; outline-color: invert; line-height: 22px; background-color: #ff5041"
                                 target="_blank">&nbsp;#INSIDE&nbsp;</a><br/>
                              <br/>
                              <span class="font16" style="font-size: 16px; color: #ff5041"><span
                                  style="background-color: #ffff00">Kompetenztage der tw tagungswirtschaft mit BEEFTEA</span></span><br/>
                              <br/>
                              <span style="background-color: #ffff00">Unter diesem Thema stand der Vortrag unseres Gesch&auml;ftsf&uuml;hrers Andreas Grunszky bei den&bdquo;Kompetenztagen der tw tagungswirtschaft und tp tagungsplaner.de in M&uuml;nchen.Diese Veranstaltung beleuchtete ...</span><br/>
                              <a href="[[spmLink6]]" style="color: #333333" target="_blank"><span
                                  style="background-color: #ffff00">weiterlesen</span></a><br/>
                              &nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="emailcolsplit300" width="320">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                          <tr>
                            <td align="right" class="center" valign="top">
                              <a href="http://beeftea.de/wp-content/uploads/2014/09/Grunszky-e1416772262363.jpg"
                                 target="_blank"><img alt="" border="0" height="200" src="img/kompetenztage.jpg"
                                                      width="280"/></a></td>
                            <td class="nomob" height="30" width="20">
                              <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td bgcolor="#c3c3c5" height="1" style="font-size: 0px; line-height: 0">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    <tr>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                      <td height="30">
                        <img border="0" height="30" src="img/blank.gif" style="display: block" width="1"/></td>
                      <td class="nomob" width="20">
                        <img border="0" height="1" src="img/blank.gif" style="display: block" width="20"/></td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td align="center" class="font14" style="font-size: 14px; font-family: arial; color: #333333">
                        <span style="font-size: 16px; color: #ff5041">&copy; 2015 BEEFTEA group</span><br/>
                        people &amp; brand communications GmbH<br/>
                        &nbsp;</td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td class="emailcolsplit300" width="310">
                        <table border="0" cellpadding="0" cellspacing="0" class="font14" width="100%">
                          <tbody>
                          <tr>
                            <td align="right" class="center"
                                style="font-size: 14px; font-family: arial; color: #333333">
                              Kreuzbergstra&szlig;e 30 | D-10965 Berlin<br/>
                              T 030 26 93 92-3 | F 030 26 93 92-40<br/>
                              <a href="mailto:berlin@beeftea.de" style="color: #333333">berlin@beeftea.de</a> | <a
                                href="[[spmLink7]]" style="color: #333333" target="_blank">www.beeftea.de</a><br/>
                              &nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                      <td class="nomob" width="20">
                        &nbsp;</td>
                      <td class="emailcolsplit300" width="310">
                        <table border="0" cellpadding="0" cellspacing="0" class="font14" width="100%">
                          <tbody>
                          <tr>
                            <td class="center" style="font-size: 14px; font-family: arial; color: #333333">
                              Lehmweg 10C | D-20251 Hamburg<br/>
                              T 040 32 89 01 56-1 | F 030 26 93 92-40<br/>
                              <a href="mailto:berlin@beeftea.de" style="color: #333333">berlin@beeftea.de</a> | <a
                                href="[[spmLink8]]" style="color: #333333" target="_blank">www.beeftea.de</a><br/>
                              &nbsp;</td>
                          </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" class="resize300" width="640">
                    <tbody>
                    <tr>
                      <td align="center" class="font11" style="font-size: 11px; font-family: arial; color: #87878c">
                        <br/>
                        Wenn Sie unseren Newsletter nicht mehr erhalten m&ouml;chten, melden Sie sich bitte <a
                          href="###" style="color: #87878c" target="_blank">hier ab. </a></td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <img border="0" height="25" src="img/blank.gif" width="1"/></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<p>
  &nbsp;</p>
</body>
</html>